name: lint, format, test, build

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Check fmt
        run: nix develop --command cargo fmt --all -- --check
      - name: Check fmt md
        run: nix develop --command dprint check **/*.md
      - name: Run clippy
        run: nix develop --command cargo clippy -- -D warnings
      - name: Run alejandra
        run: nix develop --command alejandra --check flake.nix

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Run tests
        run: nix develop --command cargo test

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Build project
        run: nix build .#timr
